div(class="banner-container hidden-xs")
    img(id="banner-img" src="/images/thousand-needles-banner-1.jpg")
div(class="banner-container hidden-sm hidden-md hidden-lg")
  img(id="banner-img" src="/images/thousand-needles-banner-sm.jpg")
