div(class="col-lg-8 col-lg-offset-2 text-center")
  .footerdiv
    p Site by Prowllr.
    p v2.9.5
    ul(class='list-inline')
      li: a(href="") Contact Us
      li: a(href="/about") About
      li: a(href="#") Feedback
    hr
    br
    br

script(src="/lib/jquery-3.2.1.min.js")
script(src="/lib/bootstrap-3.3.7/js/bootstrap.js")
script(src="/js/creative.js")
script(src="/js/warmain.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js")
