div(class="col-lg-8 col-lg-offset-2 text-center")
  .footerdiv
    p Site by Nasir M.
    p v3.1.6
    ul(class='list-inline')
      //li: a(href="") Contact Us
      li: a(href="/about") About
      //li: a(href="/feedback") Feedback
      //li: a(href='/changelog') Changelog
    hr
    br
    br

script(src="/lib/jquery-3.2.1.min.js")
script(src="/lib/bootstrap-3.3.7/js/bootstrap.js")
script(src="/js/sly.min.js")
script(src="/js/creative.js")
script(src="/js/style.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js")
