ul(class='list-inline')
  li
    div(class='talent_bg_container' id='tree-bg-left')
      table
        tbody(class='tree_left')
          tr(class='r0')
            td(class='c0'): div()
            td(class='c1'): div()
            td(class='c2'): div()
            td(class='c3'): div()
          tr(class='r1')
            td(class='c0'): div()
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
  li
    div(class='talent_bg_container' id='tree-bg-center')
      table
        tbody
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr

  li
    div(class='talent_bg_container' id='tree-bg-right')
      table
        tbody
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
