div(class='talents_view' ng-show="cur_view == 'talents'")
  h1 Work in progress.
  div(class='talents_info')
    h3(ng-style="class_color(character.class)")
      {{talent_points.remaining}} ({{talent_points.left.total}}/{{talent_points.center.total}}/{{talent_points.right.total}})

  div(id='test13')

  div(class='talent_tree')
    include talent_tree_template.jade

  p(class='success-msg' ng-show="success_msg != ''") {{success_msg}}
  //input(ng-if='permission' type="submit" value='Save Changes' ng-click='save_to_db()'
        class="save_item loginmodal-submit")
