div(class='talents_view' ng-show="cur_view == 'talents'")
  h1 Work in progress.
  div(class='talents_info')
    h3(ng-style="class_color(character.class)")
      {{talent_points.remaining}} ({{talent_points.left.total}}/{{talent_points.center.total}}/{{talent_points.right.total}})

  div(class='talent_tree' ng-if="character.class == 'death knight'")
    include talent_trees/death knight.jade
  div(class='talent_tree' ng-if="character.class == 'druid'")
    include talent_trees/druid.jade
  div(class='talent_tree' ng-if "character.class == 'hunter'")
    include talent_trees/hunter.jade
  div(class='talent_tree' ng-if="character.class == 'mage'")
    include talent_trees/mage.jade
  div(class='talent_tree' ng-if="character.class == 'paladin'")
    include talent_trees/paladin.jade
  div(class='talent_tree' ng-if="character.class == 'priest'")
    include talent_trees/priest.jade
  div(class='talent_tree' ng-if="character.class == 'rogue'")
    include talent_trees/rogue.jade
  div(class='talent_tree' ng-if="character.class == 'shaman'")
    include talent_trees/shaman.jade
  div(class='talent_tree' ng-if="character.class == 'warlock'")
    include talent_trees/warlock.jade
  div(class='talent_tree' ng-if="character.class == 'warrior'")
    include talent_trees/warrior.jade

  p(class='success-msg' ng-show="success_msg != ''") {{success_msg}}
  input(ng-if='permission' type="submit" value='Save Changes' ng-click='save_to_db()'
        class="save_item loginmodal-submit")
