ul(class='list-inline')
  li
    div(class='talent_bg_container'
    ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][0] +  '/background.jpg)'}")
      table
        tbody
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
  li
    div(class='talent_bg_container' id='talents-middle'
    ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][1] +  '/background.jpg)'}")
      table
        tbody
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr

  li
    div(class='talent_bg_container' id='talents-right'
    ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/background.jpg)'}")
      table
        tbody
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
