doctype html
html
    include partials/head.jade
    body
      <script>document.body.className += ' fade-out';</script>
      include partials/navbar.jade
      header
        .header-content
          .header-content-inner
            h1 About
            hr
      div(class="about-container")
      include partials/footer.jade
