doctype html
html
    include partials/head.jade
    body
        include partials/navbar.jade
        .page-header
          h1 ABOUT PAGE
        p Last in priority
        div(class="about-container")
        include partials/footer.jade
