doctype html
html
    include partials/head.jade
    body
      <script>document.body.className += ' fade-out';</script>
      include partials/navbar.jade
      header
        .header-content
          .header-content-inner
            h1 About
            hr
      .container
        h4 What is Warmains?
        p
          | Currently a work in progress, Warmains is meant to be a character
          | planner for World of Warcraft, specifically for the Wrath of the
          | Lich King expansion.

        h4 Who is the creator?
        p
          | I am known as Prowllr primarily on the private server Warmane.
          | You can find me playing on the Icecrown server on the Horde side.
        p
          | I am also a Computer Science student at the University of Toronto. 

      div(class="about-container")
      include partials/footer.jade
