doctype html
html
    include partials/head.jade
    body
        include partials/navbar.jade
        header
          .header-content
            .header-content-inner
              h1(id="homeHeading") About
              hr
        div(class="about-container")
        include partials/footer.jade
