doctype html
html
    include partials/head.jade
    body
        include partials/navbar.jade
        h1(id="page-title") ABOUT PAGE
        p TODO: Last in priority
        div(class="about-container")
        include partials/footer.jade
