doctype html
html
    include partials/head.jade
    body
    include partials/navbar.jade
    h1(id="page-title") ABOUT PAGE
    include partials/banner.jade
    div(class="about-container")
    include partials/footer.jade
