doctype html
html
    include partials/head.jade
    body
        include partials/navbar.jade

        div(class="modal-dialog")
            div(class="loginmodal-container")
                .page-header
                  h3 PASSWORD RECOVERY
                br
                form(action="/users/forgot" method="post")
                    input(type="text" name="forgotemail" placeholder="Email")
                    input(type="submit" name="login" value="Reset"
                          class="reset loginmodal-submit")

        include partials/footer.jade
