doctype html
html
    include partials/head.jade
    body
        include partials/navbar.jade
        page-header
          h3 Welcome to Warmains
        include partials/banner.jade
        include partials/footer.jade
