doctype html
html
    include partials/head.jade
    body
        include partials/navbar.jade
        include partials/banner.jade
        include partials/login.jade
        include partials/footer.jade
