doctype html
html
    include partials/head.jade
    body
        include partials/navbar.jade
        include partials/banner.jade

        page-header
          h1 Welcome
        include partials/footer.jade
