doctype html
html
    include partials/head.jade
    body
      <script>document.body.className += ' fade-out';</script>
      include partials/navbar.jade

      header(class='signup-header')
        .header-content
          .header-content-inner
      .signup-container
          div(class="loginmodal-container")
            h1 LOGIN
            hr(class='light')
            form(action="/users/login" method="post")
                input(type="text" name="username" placeholder="Username")
                input(type="password" name="password" placeholder="Password")
                input(type="submit" name="login" class="login loginmodal-submit"
                      value="Login")
                div(class="login-help")
                    a(href="/users/register") Register
                    br
                    a(href="/users/forgot") Forgot Password?
      include partials/footer.jade
