doctype html
html
    include partials/head.jade
    body
    include partials/navbar.jade
    h1(id="page-title") PROFILE
    p Hello #{user.username}
    p   TODO: merge with settings page,
        br
        allow users to change password,
        br
        add an avatar,
        br
        see saved characters and be able to delete them.
    div(class="profile-container")
    include partials/footer.jade
