doctype html
html
    include partials/head.jade
    body
    include partials/navbar.jade
    h1(id="page-title") PROFILE
    p Hello #{user.username}
    div(class="profile-container")
    include partials/footer.jade
