doctype html
html(ng-app='registerApp' ng-cloak)
    include partials/head.jade

    body(ng-controller='registerctrl')
      <script>document.body.className += ' fade-out';</script>
      include partials/navbar.jade

      header(class='signup-header')
        .header-content
          .header-content-inner
      .signup-container
        div(class="loginmodal-container")
          h1 SignUP
          hr(class='light')
          form(action="/users/register" method="post")

              input(type='text' name='namefield' placeholder='Name'
                    maxlength=16 autofocus)

              input(type="text" name="userfield" placeholder="Username"
                    ng-change="check_username()" ng-model='user_name'
                    maxlength=16)
              span(class="error-msg" id="no-username-1")
              span(class="error-msg") {{duplicate_username}}

              input(type="password" name="pass1field" placeholder="Password"
                    maxlength=18)
              span(class="error-msg" id="no-password-2")

              input(type="password" name="pass2field" maxlength=20
                    placeholder="Confirm Password")
              span(class="error-msg" id="no-password-3")

              input(type="text" name="emailfield" placeholder="Email"
                    ng-change="check_email()" ng-model='email_addr')
              span(class="error-msg") {{duplicate_email}}
              span(class="error-msg" id="no-email")

              input(type="submit" name="createaccount" disabled
                    class="create loginmodal-submit" value="Create Account")

      include partials/footer.jade
      script(src="/js/user_controller.js")
      script(src="/js/createacc.js")
