doctype html
html
    include partials/head.jade

    body
        include partials/navbar.jade

        div(class="modal-dialog")
            div(class="loginmodal-container")
                .page-header
                  h3 RESET PASSWORD
                br
                form(method="post")
                    input(type="text" name="resetpass1" placeholder="Password")
                    input(type="text" name="resetpass2"
                          placeholder="Confirm Password")
                    input(type="submit" name="login" value="Update Password"
                          class="reset loginmodal-submit")

        include partials/footer.jade
