doctype html
html
    include partials/head.jade

    body
      <script>document.body.className += ' fade-out';</script>
      include partials/navbar.jade

      header(class='signup-header')
        .header-content
          .header-content-inner

      .signup-container
        div(class="loginmodal-container")
            h1 RESET PASSWORD
            hr(class='light')
            br
            form(method="post")
                input(type="text" name="resetpass1" placeholder="Password")
                input(type="text" name="resetpass2"
                      placeholder="Confirm Password")
                input(type="submit" name="login" value="Update Password"
                      class="reset loginmodal-submit")

        include partials/footer.jade
