doctype html
html
    include partials/head.jade
    link(rel='stylesheet', type="text/css" href='/stylesheets/search.css')
    body
      <script>document.body.className += ' fade-out';</script>
      include partials/navbar.jade

      header
        .header-content
          .header-content-inner
            h1 Search
            hr
            p Not Implemented Yet.
      div(class='container' ng-app='searchApp' ng-controller='searchCtrl'
             ng-init="search_for = 'characters'")
        ul(class='list-inline')
          li(ng-click="search_for = 'characters'"): h3(class='search_for') Characters
            hr(class='light left' ng-show="search_for == 'characters'")
          li(ng-click="search_for = 'items'"): h3(class='search_for') Items
            hr(class='light right' ng-show="search_for == 'items'")
        ul(class='list-inline')
          li: input(type="text" class="form-control" placeholder="Search"
                    ng-model='search_val' maxlength=30 size=30
                    ng-keyup="$event.keyCode == 13 && search(search_val, search_for)")
          li: button(type="submit" class="btn btn-default"
                      ng-click="search(search_val, search_for)") Submit

      include partials/footer.jade
      script(src="/js/search_controller.js")
