doctype html
html
    include partials/head.jade
    body
    include partials/navbar.jade
    h1(id="page-title") SETTINGS
    p TODO: Merge with profile page
    div(class="settings-container")
    include partials/footer.jade
