a,
a:hover {
  color: inherit;
  text-decoration: none;
}
.class_icon {
  width: 80px;
  height: 80px;
  opacity: .9;
}
.class_icon:hover {
  opacity: 1;
}
.existing_chars2 h1,
.existing_chars2 h2,
.existing_chars2 h3,
.existing_chars2 h4,
.existing_chars2 h5 {
  font-family: wow-font;
}
.view_tab {
  color: brown;
  opacity: 0.8;
}
.view_tab:hover {
  opacity: 1;
}
.char_panel {
  max-width: 400px;
}
.char_panel h1,
.char_panel h2,
.char_panel h3,
.char_panel h4,
.char_panel h5 {
  font-family: wow-font;
}
.char_panel .item_slot {
  width: 58px;
  height: 58px;
  border-width: 2px;
  border-radius: 1px;
  border-style: solid;
  border-color: black;
  background-color: grey;
  opacity: 1;
}
.char_panel #tabard_slot,
.char_panel #shirt_slot {
  pointer-events: none;
  opacity: .5;
}
.char_panel .item_slot:hover {
  -webkit-box-shadow: inset 0 0 10px #fff;
  -moz-box-shadow: inset 0 0 10px #fff;
  box-shadow: inset 0 0 10px #fff;
}
.search_container select {
  width: 60px;
}
.results_table {
  visibility: hidden;
  max-height: 350px;
  overflow: auto;
  border-radius: 2px;
}
.results_table tr:hover {
  background-color: grey;
}
.results_table tbody {
  background-color: #D9D9D9;
}
.results_table tbody tr {
  cursor: pointer;
}
.results_table img {
  height: 40px;
  width: 40px;
}
