.class_icon {
  width: 80px;
  height: 80px;
  opacity: .8;
}
.class_icon:hover {
  opacity: 1;
}
.existing_chars2 h1,
.existing_chars2 h2,
.existing_chars2 h3,
.existing_chars2 h4,
.existing_chars2 h5 {
  font-family: wow-font;
}
.char_panel {
  border-style: solid;
  border-color: black;
  max-width: 350px;
}
.char_panel h1,
.char_panel h2,
.char_panel h3,
.char_panel h4,
.char_panel h5 {
  font-family: wow-font;
}
.char_panel .item_slot {
  width: 64px;
  height: 64px;
  border-style: solid;
  border-color: red;
  opacity: .8;
}
.char_panel .item_slot img {
  width: 50px;
  height: 50px;
}
.char_panel .item_slot:hover {
  opacity: 1;
}
.results_table {
  visibility: hidden;
  max-height: 200px;
  overflow: auto;
  border-radius: 2px;
}
.results_table tbody {
  background-color: #D9D9D9;
}
.results_table img {
  height: 40px;
  width: 40px;
}
