@import "theme/variables.less";
@import "theme/mixins.less";

// Header Image based on class of character
header.death.knight { background-image: url('/images/bg/class-bg/dk.jpg'); }
header.shaman { background-image: url('/images/bg/class-bg/shaman.jpg'); }
header.paladin { background-image: url('/images/bg/class-bg/paladin.jpg'); }
header.druid { background-image: url('/images/bg/class-bg/druid.jpg'); }
header.hunter { background-image: url('/images/bg/class-bg/hunter.jpg'); }
header.mage { background-image: url('/images/bg/class-bg/mage.jpg'); }
header.rogue { background-image: url('/images/bg/class-bg/rogue.jpg'); }
header.warrior { background-image: url('/images/bg/class-bg/warrior.jpg'); }
header.warlock { background-image: url('/images/bg/class-bg/warlock.jpg'); }
header.priest { background-image: url('/images/bg/class-bg/priest.jpg'); }

.unselected_spec {
  filter: grayscale(100%);
  transition: .5s;
}

#choose_spec {
  img:hover {
    filter:grayscale(0%);
  }
}
#view_tabs {
  margin-left: 45px;
}
.view_tab {
  color: rgba(0,0,0,.4);
  padding: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: .3s;
}

.view_tab:hover {
  color: white;
  transition: .3s;
}

.selected_view {
  color:white;
  transition: .3s;
}

.gear_view_tab {
  width: 100px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,.5);
  color:black;
  opacity: 1;
  transition: 0.5s;
  .sans-serif-font;
  font-weight: 700;
}

.gear_view_tab:hover {
  background-color: white;
  transition: background-color 0.5s;
  opacity: 1;
}

.selected_gear_view {
  background-color: white;
  transition: background-color 0.5s;
}

.selected_slot {
  -webkit-box-shadow: inset 0 0 20px #819FF7;
  -moz-box-shadow: inset 0 0 20px #819FF7;
  box-shadow: inset 0 0 20px #819FF7;
  transition: 0.5s;
}

#selected_slot, #selected_gem_slot, #selected_enchant_slot {
  background-image: url('/images/empty-slots/UI-EmptyBag.png');
}

.char_panel {
  margin: 0 auto;
  max-width: 400px;
  animation: 1s fade_in;
  //border-style: solid;
  #tabard_slot, #shirt_slot {
    pointer-events:none;
    opacity: .5;
  }

  // Background images for item slots
  #Head_slot {
    background-image: url('/images/empty-slots/UI-EmptyHead.png');
  } #Neck_slot {
    background-image: url('/images/empty-slots/UI-EmptyNeck.png');
  } #Shoulders_slot {
    background-image: url('/images/empty-slots/UI-EmptyShoulders.png');
  } #Chest_slot {
    background-image: url('/images/empty-slots/UI-EmptyChest.png');
  } #Back_slot {
    background-image: url('/images/empty-slots/UI-EmptyBack.png');
  } #Wrist_slot {
    background-image: url('/images/empty-slots/UI-EmptyWrist.png');
  } #Hands_slot {
    background-image: url('/images/empty-slots/UI-EmptyHands.png');
  } #Waist_slot {
    background-image: url('/images/empty-slots/UI-EmptyWaist.png');
  } #Legs_slot {
    background-image: url('/images/empty-slots/UI-EmptyLegs.png');
  } #Feet_slot {
    background-image: url('/images/empty-slots/UI-EmptyFeet.png');
  } #Finger1_slot {
    background-image: url('/images/empty-slots/UI-EmptyFinger.png');
  } #Finger2_slot {
    background-image: url('/images/empty-slots/UI-EmptyFinger.png');
  } #Trinket1_slot {
    background-image: url('/images/empty-slots/UI-EmptyTrinket.png');
  } #Trinket2_slot {
    background-image: url('/images/empty-slots/UI-EmptyTrinket.png');
  } #MainHand_slot {
    background-image: url('/images/empty-slots/UI-EmptyMainHand.png');
  } #OffHand_slot {
    background-image: url('/images/empty-slots/UI-EmptyOffHand.png');
  } #Ranged_slot {
    background-image: url('/images/empty-slots/UI-EmptyRanged.png');
  }
}

// Item Slot styles
.item_slot {
  width: 55px;
  height: 55px;
  margin-bottom: 3px;
  background-size: 55px 55px;
  //box-shadow: 0px 0px 5px 1px rgba(0,0,0,.5);
  img {
    width: 55px;
    height: 55px;
  }
  transition: .5s;
}
.item_slot:hover {
  -webkit-box-shadow: inset 0 0 20px #819FF7;
  -moz-box-shadow: inset 0 0 20px #819FF7;
  box-shadow: inset 0 0 20px #819FF7;
  transition: .3s;
}

// Search bar
.search_container {
  select {
    width: 80px;
  }
  animation: 0.5s fade_in;
  li {
    animation: 0.8s fade_in;
  }
}

.results_table {
  animation: .5s results_table_slide;
  max-height: 300px;
  overflow: auto;
  border-radius: 2px;
  a, a:hover {
    text-decoration: none;
  }
  tr:hover {
      background-color: grey;
      transition: .3s;
  }
  tbody {
    background-color: #D9D9D9;
    tr {
      cursor: pointer;
    }
  }
  img {
    height: 40px;
    width: 40px;
  }
}

.stats_container {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  table {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    td {
      width: 100px;
      height: 25px;
    }
    //td.Intellect {
      //color: red;
    //}
  }
}

// Equipping/Unequiping and save button styles
.equip_item, .unequip_item, .save_item {
  width: 150px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: white;
  transition: .5s;
}

.unequip_item:hover {
  border-style: solid;
  border-width: 2px;
  border-color: green;
  background-color: rgb(224, 224, 224);
  transition: .5s;
}

.equip_item:hover {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background-color: rgb(224, 224, 224);
  transition: .5s;
}

.unequip_item {
  color: red;
}

.equip_item {
  color: green;
}

.save_item {
  color: brown;
}

.save_item:hover {
  border-style: solid;
  border-width: 2px;
  background-color: black;
  transition: .5s;
}

// Talents View styles
.talents_view {
  animation: 1s fade_in;
  min-width: 80%;
  .talent_bg_container {
    border: solid;
    border-color: black;
    border-width: 2px;
    width: 200px;
    height: 550px;
    //max-width: 200px;
  }
  .talents_container {
    margin-top: 20px;
    overflow: hidden;
    width: 172px;
    background-color: red;
  }
  td {
    padding: 5px;
  }
  .talent {
    animation: 2s fade_in;
    width: 37px;
    height: 37px;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: center;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: rgba(255,255,255,.5);
    box-shadow: -2px 2px 5px 1px black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .talent:hover {
    border-color: black;
    -webkit-box-shadow: inset 0 0 20px #819FF7;
    -moz-box-shadow: inset 0 0 20px #819FF7;
    box-shadow: inset 0 0 20px #819FF7;
    transition: .3s;
    cursor: pointer;
  }
  .empty_talent_space {
    width: 40px;
    height: 40px;
  }
  .talent_counter {
    transition: .5s;
    font-size: 12px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: black;
    width: 13px;
    height: 17px;
    color: #01DF01;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: yellow;
  }
  .maxed_talent {
    color: yellow;
  }
  .talent_inactive {
    filter: grayscale(100%);
    .talent_counter {
      visibility: hidden;
    }
  }
}

// Keyframe animations
@keyframes results_table_slide {
  from {
    opacity: 0;
    height: 0;
  } to {
    opacity: 1;
    height: 300px;
  }
}

@keyframes fade_in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}
