a, a:hover {
  color:inherit;
  text-decoration: none;
}

.selected_row {
  .class_icon {
    opacity: 1;
  }
  background-color: rgba(66, 179, 244, .4);
  transition: .5s;
}

.class_icon {
  width: 70px;
  height: 70px;
  opacity: .9;
}

.class_icon:hover, .class_icon_sm {
  opacity: 1;
}
.existing_chars {
  padding-bottom: 10px;
  min-height: 400px;
  max-height: 500px;
  overflow: auto;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
  tr {
    cursor: pointer;
    td {
      width: 250px;
    }
  }
  tr:hover {
    .class_icon {
      opacity: 1;
    }
    h3 {
      opacity: 1;
      color: black;
    }
  }
}

.delete_char {
  width: 150px;
  background-color: #DF0101;
}

.delete_char:hover {
  background-color: #B40404;
}

.edit_char {
  width: 150px;
  background-color: #04B404;
}

.edit_char:hover {
  background-color: #088A08;
}
