@font-face {
  font-family: CaviarDreams;
  src: url('/lib/fonts/CaviarDreams.ttf');
}
@font-face {
  font-family: wow-font;
  src: url('/lib/fonts/WoW-plexus.ttf');
}
@font-face {
  font-family: code_bold;
  src: url('/lib/fonts/CODE Bold.otf');
}
@font-face {
  font-family: code_light;
  src: url('/lib/fonts/CODE Light.otf');
}
@font-face {
  font-family: leixo;
  src: url('/lib/fonts/LEIXO-DEMO.ttf');
}
[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none;
}
body {
  text-align: center;
  font-family: code_bold;
  font-weight: bold;
  color: #2E2E2E;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: code_bold;
}
#page-title {
  margin: 0 auto;
  font-family: roboto;
  font-weight: bold;
}
.logo a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: code_bold;
  margin-top: 12px;
}
.logo a #logo-brown {
  color: brown;
}
.banner-container {
  width: 85%;
  max-width: 1600px;
  min-width: 800px;
  margin: 0 auto;
  border-style: solid;
}
.banner-container img {
  width: 100%;
  display: block;
  opacity: 1;
}
.login-container {
  margin: 0 auto;
  width: 500px;
  height: 400px;
  background-color: darkgrey;
  filter: drop-shadow(0px 0px 10px black);
}
.footerdiv {
  margin-top: 100px;
  font-family: CaviarDreams;
}
.footerdiv ul li a {
  text-decoration: none;
  color: black;
}
.footerdiv ul li a:hover {
  color: brown;
}
