ul(class='list-inline')
  li
    div(class='talent_bg_container' id='tree-bg-left')
      table
        tbody(class='tree_left')
          tr(class='r0')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r1')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r2')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r3')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r4')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r5')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r6')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r7')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r8')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r9')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r10')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
  li
    div(class='talent_bg_container' id='tree-bg-center')
      table
        tbody(class='tree_center')
          tr(class='r0')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r1')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r2')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r3')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r4')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r5')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r6')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r7')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r8')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r9')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r10')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')

  li
    div(class='talent_bg_container' id='tree-bg-right')
      table
        tbody(class='tree_right')
          tr(class='r0')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r1')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r2')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r3')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r4')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r5')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r6')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r7')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r8')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r9')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
          tr(class='r10')
            td(class='c0'): div(class='empty_talent_space')
            td(class='c1'): div(class='empty_talent_space')
            td(class='c2'): div(class='empty_talent_space')
            td(class='c3'): div(class='empty_talent_space')
